<%- include('partials/header.ejs') %>

    <h1><%= name %></h1>
    <img src="<%= imgURL  %>" alt="">
    <p><%= description %></p>
    
    <form action="/book/update" method="POST">
        <input type="hidden" name="bookId" value="<%= id %>">
        <input type="hidden" name="workId" value="<%= workId %>">
        <div>
            <input type="number" name="pages" id="pages" value="<%= pages %>" step="1">
        </div>
        <div>
          <input type="checkbox" id="read" name="read" <%= read ? 'checked' : '' %> />
          <label for="subscribeNews">I already comple this book.</label>
        </div>
        <div>
            <input type="number" name="score" id="score" value="<%= score %>" step="0.1" max="10">
        </div>
        <div>
          <button type="submit">Save Book</button>
        </div>
    </form>

    <!-- read pages  -->
    <form action="/pages/read" method="POST">
        <label for="nPages">Number of read pages</label>
        <input type="number" name="nPages" value="<%= pages_read  %>" step="1" max="<%= pages %>">
        <input type="hidden" name="bookId" value=<%= id  %>>
        <input type="hidden" name="workId" value=<%= workId  %>>
        <input type="submit" value="Update read pages">
    </form>

    <!-- add note for this book -->
    <h3>Add note for this book</h3>
    <form action="/book/note" method="POST">
        <input type="hidden" name="bookId" value=<%= id  %>>
        <input type="hidden" name="workId" value=<%= workId  %>>
        <label for="noteTitle">Note Title</label>
        <input type="text" name="noteTitle" placeholder="Title for this note" required>
        <label for="page">Add note in page:</label>
        <input type="number" name="page" id="page" step="1" max="<%= pages  %>" required>
        <label for="note">Note</label>
        <textarea name="note" id="note" required></textarea>
        <input type="submit" value="Save note for this book.">
    </form>

    <!-- notes in this book -->
    <h2>Book Notes:</h2>
    <% if(notes.length > 0) { %>
        <ul>
            <% notes.forEach((note) => { %>
                <a href="/book/notes/<%= note.id %>">
                    <li><%= note.date.toLocaleDateString("en-US") %>, <%= note.title %>, <strong>In Page</strong> <%= note.page_ref  %></li>
                </a>
            <% }) %>
        </ul>
    <% }else{ %>
        <p>There aren't notes for this book please add new one.</p>
    <% } %>
<%- include('partials/footer.ejs') %>
