<%- include('partials/header.ejs') %>
    <!-- hero section -->
    <%- include('partials/hero_section/hero.ejs')  %>
    <!-- end hero section -->

    <!-- suggested books section -->
    <%- include('partials/suggested/books.ejs') %>
    <!-- end suggested books section -->

    <!-- section category -->
    <%- include('partials/categories/categories.ejs') %>
    <!-- end section category -->

    <!-- categories 
    kids 
    love 
    fiction 
    action -->

    <!-- audio book section -->


    <div style="display: none;">   
    <h1>Welcome to the book manage app</h1>
    <h3>please search a book</h3>
    <form action="/search" method="POST">
        <input type="search" name="query" id="query" placeholder="harry potter and the philosopher's stone">
        <input type="submit" value="Search book">
    </form>
    <!-- filter book -->
    <form action="/" method="GET">
        <label for="filter">Filter your book</label>
        <select name="filter" id="filter" onchange="filterForm(this)"> 
            <option value="name">Name</option>
            <option value="noRead"<%= filter === 'noRead' ? 'selected' : '' %>>No Read books</option>
            <option value="read"<%= filter === 'read' ? 'selected' : '' %>>Read books</option>
            <option value="review" <%= filter === 'review' ? 'selected' : '' %>>Best Score</option>
        </select>
    </form>
    <% if(books){ %>
        <ul>
            <% books.forEach((book) => { %>
                <a href="/book/<%= book.work_id.split('/')[2] %>">
                    <li>
                        <img src="<%= book.url %>" alt="book cover img" height="40">
                        <h3><%= book.name %></h3>
                    </li>
                </a>
                <p>Percent read: <%= ((book.pages_read*100) / (book.pages ? book.pages : 1)).toFixed(2)  %>%</p>
                <!-- delete from library button -->
                <form action="/book/delete" method="POST" onsubmit="alertDeleteBook(event, this, 'Are you sure to delete this book of your library?')">
                    <input type="hidden" name="bookId" value="<%= book.id %>">
                    <input type="submit" value="Delete this book from my library">
                </form>
            <% }) %>
            
            <br>
        </ul>
    <% }else{ %>
        <h2>No books please add new one or select other filter.</h2>
    <% } %>
    </div>
<%- include('partials/footer.ejs')  %>