<%- include('partials/header.ejs') %>
    <img src="<%= imgURL  %>" alt="book cover" height="50">
    <h1><%= book %></h1>
    <h2><%= title %></h2>
    <p>On page: <%= page  %></p>
    <h2>Note</h2>
    <p><%= note  %></p>

<%- include('partials/footer.ejs') %>