<%- include('partials/header.ejs') %>
    <section class="user_books">
        <h1>Library Books</h1>
        <!-- filter book -->
        <form action="/mybooks" method="GET">
            <label for="filter">Filter your book</label>
            <select name="filter" id="filter" onchange="filterForm(this)">
                <option value="">Latest additions</option> 
                <option value="name" <%= filter === 'name' ? 'selected' : '' %>>Name</option>
                <option value="noRead"<%= filter === 'noRead' ? 'selected' : '' %>>No Read books</option>
                <option value="read"<%= filter === 'read' ? 'selected' : '' %>>Read books</option>
                <option value="review" <%= filter === 'review' ? 'selected' : '' %>>Best Score</option>
            </select>
        </form>
        <div class="book_grid">
            <% books.forEach((book) => { %>
                <div class="book">
                    <div class="library_book_cover">
                        <a href="/book/<%= book.work_id.split('/')[2] %>">
                            <img src="<%= book.url %>" alt="book cover">
                        </a>
                    </div>
                    <div class="book_info">
                        <p><%= book.name.length > 30 ? book.name.slice(0, 30) + '...' : book.name %></p>
                        <p  class="percent">Percent read: <%= ((book.pages_read * 100) / (book.pages ? book.pages : 1)).toFixed(2)  %>%</p>
                        <% let read_percent = ((book.pages_read * 100) / (book.pages ? book.pages : 1)).toFixed(2) %>
                        <div class="percent_bar" style="width: <% if(read_percent === '0.00'){%>2<%}else{%><%=read_percent%><%}%>%;">
                        </div>
                    </div>
                </div>  
            <% }) %>
        </div>
    </section>

<%- include('partials/footer.ejs') %>