<section class="suggested">
    <% suggestedBooks.forEach((book) => { %>
        <div class="book">
            <div class="bookCover">
                <img src="<%= book.imgURL %>" loading="lazy" alt="book cover">
            </div>
            <div class="bookInfo">
                <h2><%= book.name %></h2>
                <p><%= book.author  %></p>
            </div>
            
            <!-- add book library -->
            <form action="/save" method="POST">
                <input type="hidden" name="workId" value="<%= book.key %>">
                <input type="hidden" name="name" value="<%= book.title %>">
                <input type="hidden" name="imageURL" value="<%= book.imgUrl ? book.imgUrl : '/assets/images/no_cover.png' %>">
                <input type="hidden" name="key" value="<%= book.cover_edition_key ? book.cover_edition_key : null %>">
                <input type="submit" value="Add this book to my library">
            </form>
        </div>
    <% }) %>
</section>